{% extends 'base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body{


        }
    </style>
{% endblock %}

{% block body %}
    <h1>home page</h1>

{% endblock %}